*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.info_container{
    margin-top: 15px;
    text-align: center;
}
.main_container{

    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.main_container .card{
    box-shadow: 3px 8px 15px rgba(0,0,0,0.1);
}
.main_container i{
   font-size: 28px;
   text-align: center;
}
